.lunarFullCalendar {
  min-width: 900px;
  height: 100%;
  background: #fff; }
  .lunarFullCalendar .top {
    height: 100px; }
    .lunarFullCalendar .top h2 {
      text-align: center;
      font-size: 15px; }
    .lunarFullCalendar .top div {
      font-size: 13px; }
  .lunarFullCalendar .full-calendar {
    padding: 20px;
    height: calc(100% - 30px); }
    .lunarFullCalendar .full-calendar /deep/ .fc-unthemed thead,
    .lunarFullCalendar .full-calendar /deep/ .fc-unthemed .fc-content,
    .lunarFullCalendar .full-calendar /deep/ .fc-unthemed th,
    .lunarFullCalendar .full-calendar /deep/ .fc-unthemed td,
    .lunarFullCalendar .full-calendar /deep/ .fc-unthemed tbody,
    .lunarFullCalendar .full-calendar /deep/ .fc-unthemed .fc-row,
    .lunarFullCalendar .full-calendar /deep/ .fc-unthemed .fc-list-view,
    .lunarFullCalendar .full-calendar /deep/ .fc-unthemed .fc-popover,
    .lunarFullCalendar .full-calendar /deep/ .fc-unthemed .fc-divider,
    .lunarFullCalendar .full-calendar /deep/ .fc-unthemed .fc-list-heading td {
      border-color: #eaecf1; }
    .lunarFullCalendar .full-calendar /deep/ .fc-header-toolbar {
      height: 30px;
      margin-bottom: 0;
      line-height: 30px; }
      .lunarFullCalendar .full-calendar /deep/ .fc-header-toolbar h2 {
        font-size: 24px;
        color: #000; }
    .lunarFullCalendar .full-calendar /deep/ .fc-button {
      height: 30px;
      background: #fff;
      border-color: #fff;
      box-shadow: none;
      padding: 0; }
    .lunarFullCalendar .full-calendar /deep/ .fc-today-button {
      font-size: 15px;
      color: #45b984; }
    .lunarFullCalendar .full-calendar /deep/ .fc-show-button,
    .lunarFullCalendar .full-calendar /deep/ .fc-hide-button {
      position: relative;
      width: 80px;
      border: 1px solid #bbbfcd;
      border-radius: 20px;
      font-size: 15px;
      color: #000; }
    .lunarFullCalendar .full-calendar /deep/ .fc-next-button,
    .lunarFullCalendar .full-calendar /deep/ .fc-prev-button {
      color: #7d8292; }
    .lunarFullCalendar .full-calendar /deep/ .fc-button-group {
      margin-left: 20px;
      font-size: 15px; }
      .lunarFullCalendar .full-calendar /deep/ .fc-button-group button {
        width: 80px;
        color: #000;
        border: 1px solid #bbbfcd; }
      .lunarFullCalendar .full-calendar /deep/ .fc-button-group button:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px; }
      .lunarFullCalendar .full-calendar /deep/ .fc-button-group button:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; }
      .lunarFullCalendar .full-calendar /deep/ .fc-button-group .fc-state-active {
        background: #45b984;
        color: #fff;
        text-shadow: none; }
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-widget-content .fc-day-number,
    .lunarFullCalendar .full-calendar /deep/ .fc-month-view .fc-widget-content .fc-day-number,
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaWeek-view .fc-widget-content .fc-day-number {
      font-size: 15px;
      letter-spacing: 0;
      line-height: 13px;
      float: left; }
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-widget-content .fc-day-top,
    .lunarFullCalendar .full-calendar /deep/ .fc-month-view .fc-widget-content .fc-day-top,
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaWeek-view .fc-widget-content .fc-day-top {
      padding: 15px 12px 0 12px; }
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-widget-content .fc-day-cnTerm,
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-widget-content .fc-day-cnDate,
    .lunarFullCalendar .full-calendar /deep/ .fc-month-view .fc-widget-content .fc-day-cnTerm,
    .lunarFullCalendar .full-calendar /deep/ .fc-month-view .fc-widget-content .fc-day-cnDate,
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaWeek-view .fc-widget-content .fc-day-cnTerm,
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaWeek-view .fc-widget-content .fc-day-cnDate {
      font-size: 12px;
      color: #7d8292;
      float: right; }
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-widget-content .fc-more,
    .lunarFullCalendar .full-calendar /deep/ .fc-month-view .fc-widget-content .fc-more,
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaWeek-view .fc-widget-content .fc-more {
      font-size: 12px;
      color: #7d8292; }
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-widget-content .fc-event,
    .lunarFullCalendar .full-calendar /deep/ .fc-month-view .fc-widget-content .fc-event,
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaWeek-view .fc-widget-content .fc-event {
      cursor: pointer;
      font-size: 12px;
      color: #000;
      background-color: rgba(69, 185, 132, 0.15) !important;
      border: 1px solid rgba(69, 185, 132, 0.15) !important;
      border-left: 2px solid rgba(69, 185, 132, 0.15) !important;
      border-radius: 0; }
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-widget-content .fc-day-grid-event,
    .lunarFullCalendar .full-calendar /deep/ .fc-month-view .fc-widget-content .fc-day-grid-event,
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaWeek-view .fc-widget-content .fc-day-grid-event {
      padding: 1px 0 1px 5px; }
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaWeek-view .fc-axis,
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-axis {
      font-size: 15px; }
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaWeek-view .fc-title,
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-title {
      font-size: 15px;
      color: #45b984; }
    .lunarFullCalendar .full-calendar /deep/ .fc-month-view .fc-event.fc-not-start {
      border-left: 1px solid rgba(69, 185, 132, 0.1) !important; }
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-head table {
      margin: 15px 0; }
    .lunarFullCalendar .full-calendar /deep/ .fc-agendaDay-view .fc-head .fc-day-header {
      display: none; }
    .lunarFullCalendar .full-calendar /deep/ .fc-head .fc-day-header,
    .lunarFullCalendar .full-calendar /deep/ .fc-head .fc-widget-header,
    .lunarFullCalendar .full-calendar /deep/ .fc-head .fc-head-container {
      border-top-color: #fff;
      border-left-color: #fff;
      border-right-color: #fff; }
    .lunarFullCalendar .full-calendar /deep/ .fc-head table {
      margin: 10px 0 15px 0;
      font-size: 15px;
      color: #000; }

.tip {
  color: #45b984;
  text-align: center;
  font-size: 16px;
  cursor: pointer; }

/*# sourceMappingURL=calendar.css.map */
