.el_tab-padding {
    .el-tabs__nav {
        padding: 0 90px;
    }
    .el-tabs__active-bar {
        left: 90px
    }
    .el-form-item__content {
        margin: 0 35px !important;
    }
    .el-button {
        width: 100%;
    }
}